node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
adeus-multas-ai-152183db73bb.json
# macOS
.DS_Store
android
# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

